.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
  
.detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: calc(100% - 264px);
    min-height: calc(100% - 264px);
    position: relative;
    padding: 2rem;
}
  
.applicantDetails {
    display: flex;
    flex-direction: column;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.note {
    margin: 0.5rem 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.decisionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.actionButtons {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.mediumImage {
    width: 80px;
}

.submit {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    min-width: 120px;
}

.approve {
    background-color: #3cf74c;
}

.reject {
    background-color: #ff5858;
}
  