.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
  
.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fafafa;
    max-height: calc(100% - 175px);
    position: relative;
    padding: 3rem;
}

.decisionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.applicantHeader {
    display: flex;
    align-items: center;
}
  
.applicantDetails {
    display: flex;
    flex-direction: column;
}

.extraInfo {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0;
}

.infoFieldHeader {
    min-width: 75px;
}

.noMargin {
    margin: 0;
}

.bottomMargin {
    margin: 0 0 0.5rem;
}

.leftMargin {
    margin: 0 0 0 1rem;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.notesLogContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 275px;
}

.note {
    min-height: 48px;
    margin: 0.5rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.actionButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0 0 ;
}

.mediumImage {
    width: 80px;
}

.submit {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    min-width: 150px;
}

.approve {
    background-color: #2e8540;
}

.reject {
    background-color: #e31c3d;
}

.reset {
    color: #e31c3d;
    border: 1px solid #e31c3d;
}
